player-connection-mode=Listen
player-connection-guid=3916835654
player-connection-debug=1
player-connection-project-name=Platformer
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.20
player-connection-ip=25.10.130.83
wait-for-native-debugger=0
wait-for-managed-debugger=1
vr-enabled=0
hdr-display-enabled=0
